VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_CONTACT=your_contact_template_id
VITE_EMAILJS_TEMPLATE_ADMISSION=your_admission_template_id
VITE_EMAILJS_TEMPLATE_DIPLOMA_ENQUIRY=your_diploma_enquiry_template_id
VITE_EMAILJS_TEMPLATE_ALUMNI=your_alumni_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_GOOGLE_MAPS_EMBED_KEY=your_maps_embed_key
VITE_GA4_MEASUREMENT_ID=G-XXXXXXXXXX
